################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/src/ng2d3/bin/Debug/net452
/src/ng2d3/obj/Debug/net452
/src/ng2d3/node_modules
/src/ng2d3/wwwroot/scripts
